@import '../../colors.scss';

.chats {
    &__item {
        display: flex;
        justify-content: space-between;
        padding: 10px;
        border-bottom: 1px solid $lightGrey;
    }

    &__info_left {
        display: flex;
    }

    &__user-image {
        width: 47px;
        height: 47px;
        margin-right: 10px;
        border-radius: 50%;
        background-color: $backgroundGrey;
    }

    &__user-name {
        margin-bottom: 5px;
        font-family: 'Times New Roman', Times, serif;
        font-weight: 600;
        font-size: 13px;
        line-height: 13px;
        color: $blackGrey;
    }

    &__user-messenge {
        font-family: 'Times New Roman', Times, serif;
        font-weight: 500;
        font-size: 12px;
        line-height: 12px;
        color: $grey;
    }

    &__time {
        font-family: 'Times New Roman', Times, serif;
        font-weight: 500;
        font-size: 10px;
        line-height: 13px;
        color: $grey;
    }
}
