<div class="error-page__container">
    <div class="error-page__wrapper">
        <div class="error-page__status-code">{{ statusCode }}</div>
        <div class="error-page__description">{{ description }}</div>
        <a class="error-page__link" href="{{ linkHref }}">{{ linkText}}</a>
    </div>
</div>
