@import "../node_modules/normalize-scss/sass/normalize";

@import './components/error-page/error-page.scss';
@import './components/button/button.scss';
@import './components/link/link.scss';
@import './components/form-field/form-field.scss';
@import './components/profile-field/profile-field.scss';
@import './components/field-edit/field-edit.scss';
@import './components/avatar/avatar.scss';
@import './components/chat-tab/chat-tab.scss';

body {
    margin: 0;
    padding: 0;
}

.error-text {
    margin-top: 5px;
    font-family: 'Times New Roman', Times, serif;
    font-weight: 400;
    font-size: 10px;
    line-height: 10px;
    color: $red;
}
